body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.square{
    width: 20vw;
    height: 20vh;
    border: 1px solid black;
    margin: 10px;
}